<h1>Rock, Paper, Scissors Battle!!!</h1>
<h2>Choose your move wisely...</h2>
<form action="result" method="post">
  <label>Your move:</label>
  <input type="radio" name="choice" value="rock">Rock
  <input type="radio" name="choice" value="paper">Paper
  <input type="radio" name="choice" value="scissors">Scissors

  <p>
    <input type="submit" value="Did I Win?">
  </p>
</form>